In [17]:
import pandas as pd 
import numpy as np
import csv
import os.path

In [35]:
#Importing the data from the csv file in the Data folder and turn them into pandas dataframe. Some of them needs to be converted to int datatype to combina all the datasets because some of the dataframe is type object when read'''
champions = pd.read_csv(r'Documents/Github/Esport-Betting/Data/champs.csv')
matches = pd.read_csv(r'Documents/Github/Esport-Betting/Data/matches.csv')
stats1 = pd.read_csv(r'Documents/Github/Esport-Betting/Data/stats1.csv')
stats12 = pd.read_csv(r'Documents/Github/Esport-Betting/Data/stats1-2.csv')
stats13 = pd.read_csv(r'Documents/Github/Esport-Betting/Data/stats1-3.csv')
stats2 = pd.read_csv(r'Documents/Github/Esport-Betting/Data/stats2.csv')
stats22 = pd.read_csv(r'Documents/Github/Esport-Betting/Data/stats2-2.csv')

#Appending stats1 and stats2 dataset
stats12 = stats12.append(stats13);
stats1 = stats1.append(stats12);
stats2 = stats2.append(stats22);
stats = stats1.append(stats2)

#Merge particpants with appropriate champion name. test
participants = pd.read_csv(r'Documents/Github/Esport-Betting/Data/participants.csv')
#Rename the column of the participants dataframe from id to play_id and championid to id for better clarification. inplace so no extra copy is made
participants.rename(columns ={'id': 'player_id','championid':'id'}, inplace = True)
#Merge the participants dataset with the champions dataset based on the championid. This is similar to left join in SQL 
champions['id'] = champions['id'].astype(int)
participants['id'] = participants['id'].astype(int)
participants = participants.merge(champions, how='left', on='id')
#Delete the column role because I think it's irrelevant for now 
#del participants['role']

#Rename the stats data set column from id to player_id and inplace 
stats.rename(columns={'id':'player_id'},inplace = True)
#Convert the player_id column to int because it is currently type Object and we cannot manipulate object type column and int type column too easily 
stats['player_id'] = stats['player_id'].astype(int)
#merge the participants dataset with stats dataset based on the player_id. This makes participants a massive dataset with lots of columns and champions that each player uses
participants = participants.merge(stats, how = 'left', on = 'player_id')

KeyError: 'player_id'

In [ ]:
#This is me testing out the gorupby but this will group the champion based on their name and count how many win and lose they have. Win and lose are represented with 0 and 1 
champsFreq = participants.groupby(['name','win'])['win'].count()

#Turn it into a dataframe
champsFreq = pd.DataFrame(champsFreq)
#Add Suffix Count to the second column. When we groupby, it creates columns with same name and it's difficult to select columns so I add a letter to the column with the number of wins and lose for easy access to the dataframe
champsFreq = champsFreq.add_suffix('Count').reset_index()
#Converting the columns from object to int type
champsFreq['win'] = champsFreq['win'].astype(str).astype(int)

In [ ]:
#Separate the dataframe into two values, win and lose. Win is represented with 1 and lose is represented with 0
loseValues = champsFreq[champsFreq['win'] == 0]
winValues = champsFreq[champsFreq['win'] == 1]

In [37]:
print (stats1)

          version https://git-lfs.github.com/spec/v1
0  oid sha256:0f14a22a63e2a93e23525d6d597c2acde4c...
1                                     size 313137959

In [44]:
stats['win'].describe()

count     1834517
unique          2
top             0
freq       917259
Name: win, dtype: object

In [48]:
matches

,id,gameid,platformid,queueid,seasonid,duration,creation,version
0,10,3187427022,EUW1,420,8,1909,1495068946860,7.10.187.9675
1,11,3187425281,EUW1,420,8,1693,1495066760778,7.10.187.9675
2,12,3187269801,EUW1,420,8,1482,1495053375889,7.10.187.9675
3,13,3187252065,EUW1,420,8,1954,1495050993613,7.10.187.9675
4,14,3187201038,EUW1,420,8,2067,1495047893400,7.10.187.9675
5,15,3187129136,EUW1,420,8,1593,1495044303031,7.10.187.9675
6,16,3187112816,EUW1,420,8,1589,1495042306859,7.10.187.9675
7,17,3186838875,EUW1,420,8,1664,1495026635492,7.10.187.9675
8,18,3186843487,EUW1,420,8,1875,1495024225924,7.10.187.9675
9,19,3184212544,EUW1,420,8,1541,1494859155283,7.9.186.8155
10,20,3184139041,EUW1,420,8,830,1494857923980,7.9.186.8155
11,21,3183199947,EUW1,420,8,1739,1494769120347,7.9.186.8155
12,22,3183149084,EUW1,420,8,1964,1494766338780,7.9.186.8155
13,23,3183142191,EUW1,420,8,1280,1494764416274,7.9.186.8155
14,24,3181648230,EUW1,420,8,2112,1494676934584,7.9.186.8155
15,25,3180173921,EUW1,420,8,2329,1494585099703,7.9.186.8155
16,26,3179228168,EUW1,440,8,2045,1494521072459,7.9.186.8155
17,27,3179176364,EUW1,440,8,1985,1494517779956,7.9.186.8155
18,28,3179126839,EUW1,440,8,2217,1494514934579,7.9.186.8155
19,29,3179074023,EUW1,440,8,2557,1494510773735,7.9.186.8155
20,30,3178970520,EUW1,420,8,1797,1494499251808,7.9.186.8155
21,31,3178915713,EUW1,420,8,2859,1494495702609,7.9.186.8155
22,32,3177809461,EUW1,420,8,1459,1494419840704,7.9.186.8155
23,33,3177775768,EUW1,420,8,1419,1494417712142,7.9.186.8155
24,34,3177764986,EUW1,420,8,1978,1494412363193,7.9.186.8155
25,35,3177742377,EUW1,420,8,1988,1494409790629,7.9.186.8155
26,36,3177689928,EUW1,420,8,1900,1494407387901,7.9.186.8155
27,37,3177272933,EUW1,420,8,1561,1494351869120,7.9.186.8155
28,38,3177199680,EUW1,420,8,2153,1494348831486,7.9.186.8155
29,39,3176695544,EUW1,420,8,2358,1494330368821,7.9.186.8155
...,...,...,...,...,...,...,...,...
184039,187559,2077762001,NA1,4,7,2482,1453660099701,6.1.0.484
184040,187560,2076430723,NA1,4,7,2201,1453576759912,6.1.0.484
184041,187561,2076387607,NA1,4,7,1833,1453574417240,6.1.0.484
184042,187562,2076361718,NA1,4,7,1730,1453572151858,6.1.0.484
184043,187563,2075197615,NA1,4,7,1651,1453499510227,6.1.0.484
184044,187564,2075117738,NA1,4,7,2229,1453493098947,6.1.0.484
184045,187565,2075088699,NA1,4,7,1776,1453490788374,6.1.0.484
184046,187566,2072728871,NA1,410,6,1736,1453265631415,6.1.0.484
184047,187567,2072715422,NA1,410,6,2176,1453262878242,6.1.0.484
184048,187568,2055011670,NA1,4,6,1487,1451603001663,5.24.0.256
184049,187569,2039288675,NA1,4,6,2538,1450236059637,5.24.0.256
184050,187570,2039271505,NA1,4,6,1611,1450233153815,5.24.0.256
184051,187571,2039233583,NA1,4,6,1355,1450231205470,5.24.0.256
184052,187572,2035384701,NA1,4,6,1416,1449891775790,5.24.0.254
184053,187573,2035322968,NA1,4,6,2019,1449889253255,5.24.0.254
184054,187574,2035281436,NA1,4,6,1888,1449886636568,5.24.0.254
184055,187575,2034296161,NA1,4,6,1995,1449800093312,5.24.0.254
184056,187576,2034271298,NA1,4,6,1728,1449797620183,5.24.0.254
184057,187577,2034166878,NA1,4,6,1919,1449791102082,5.24.0.254
184058,187578,2034139613,NA1,4,6,1454,1449789167485,5.24.0.254
184059,187579,2033533477,NA1,4,6,1254,1449726559181,5.24.0.251
184060,187580,2033472722,NA1,4,6,2195,1449723821876,5.24.0.251
184061,187581,2033442488,NA1,4,6,1690,1449721509432,5.24.0.251
184062,187582,2033414213,NA1,4,6,1521,1449719530697,5.24.0.251
184063,187583,2032457278,NA1,4,6,2233,1449631445396,5.23.0.250
184064,187584,2032413933,NA1,4,6,1399,1449629679777,5.23.0.250
184065,187585,2032380130,NA1,4,6,1172,1449627744183,5.23.0.250
184066,187586,2032238096,NA1,4,6,2027,1449625087744,5.23.0.250
184067,187587,1990558679,NA1,4,5,2761,1445812392811,5.20.0.291
184068,187588,1990458004,NA1,4,5,2534,1445809261607,5.20.0.291

In [46]:
stats

,player_id,win,item1,item2,item3,item4,item5,item6,trinket,kills,...,neutralminionskilled,ownjunglekills,enemyjunglekills,totcctimedealt,champlvl,pinksbought,wardsbought,wardsplaced,wardskilled,firstblood
0,9,0,3748,2003,3111,3053,1419,1042,3340,6,...,69,42,27,610,13,0,0,10,0,0
1,10,0,2301,3111,3190,3107,0,0,3364,0,...,1,1,0,211,14,1,0,17,3,0
2,11,0,1055,3072,3006,3031,3046,1036,3340,7,...,3,1,2,182,14,1,0,13,5,0
3,12,0,1029,3078,3156,1001,3053,0,3340,5,...,6,6,0,106,15,0,0,3,0,0
4,13,0,3020,1058,3198,3102,1052,1026,3340,2,...,4,3,1,159,15,0,0,10,0,0
5,14,1,1400,3111,3078,3742,1033,3067,3340,3,...,111,81,30,808,16,0,0,8,2,0
6,15,1,3025,3193,3068,3047,1028,3082,3363,4,...,6,0,6,179,16,1,0,7,0,0
7,16,1,3135,3165,3089,3020,1058,3136,3340,13,...,6,3,3,48,17,0,0,8,0,0
8,17,1,3046,3031,3006,3085,3072,1029,3340,15,...,7,2,5,440,16,1,0,6,1,1
9,18,1,1058,2045,3092,3089,3113,3158,3364,4,...,2,1,1,260,16,5,0,25,7,0
10,19,0,3092,2010,3158,1082,3165,0,3340,2,...,2,2,0,236,12,3,0,14,3,0
11,20,0,3040,3165,1056,1052,0,0,3340,2,...,10,10,0,980,12,1,0,10,2,0
12,21,0,1038,1037,3087,3006,1018,1042,3340,1,...,49,25,24,203,13,1,0,7,1,1
13,22,0,3157,3158,3027,3100,1056,1058,3340,9,...,1,0,1,324,16,0,0,9,1,0
14,23,0,1402,3100,3041,3020,3089,3135,3340,19,...,70,36,34,564,17,0,0,12,1,0
15,24,1,3046,3031,3085,1053,3006,3133,3363,12,...,24,15,9,362,15,1,0,6,1,0
16,25,1,1055,3071,3142,3111,3134,1037,3340,7,...,8,6,2,25,15,1,0,11,2,0
17,26,1,3165,3020,1026,3157,3285,1056,3363,5,...,3,3,0,419,15,2,0,11,1,0
18,27,1,3092,3165,1058,3020,1026,1052,3340,3,...,0,0,0,227,13,3,0,12,3,0
19,28,1,3748,3155,3133,0,1419,3111,3340,5,...,61,40,21,333,14,0,0,10,1,0
20,29,0,1038,3006,1053,1036,1036,3031,3340,4,...,3,3,0,79,11,0,0,4,0,0
21,30,0,3117,3801,3504,2302,1029,0,3364,2,...,0,0,0,132,11,0,0,13,1,0
22,31,0,1056,3113,0,3135,3165,3020,3340,9,...,0,0,0,369,13,0,0,10,0,0
23,32,0,1401,2031,3047,3001,3024,0,3364,3,...,71,55,16,195,13,1,0,8,1,0
24,33,0,3087,3153,3006,1055,0,0,3340,2,...,0,0,0,29,12,1,0,9,0,1
25,34,1,1026,3165,3020,3102,1058,1052,3340,13,...,1,0,1,115,13,0,0,8,1,0
26,35,1,1400,3078,1033,3111,1036,0,3340,8,...,69,41,28,602,13,0,0,6,0,0
27,36,1,1055,3031,1053,3085,3006,3086,3340,4,...,8,6,2,44,14,0,0,6,1,0
28,37,1,2301,3047,3107,3105,1082,0,3341,0,...,0,0,0,148,12,2,0,15,1,0
29,38,1,3006,3153,3085,1038,0,0,3363,7,...,9,9,0,228,12,0,0,6,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
834488,1865575,1,1400,2031,3111,3074,3742,1028,3340,9,...,47,32,15,515,14,0,\N,10,1,1
834489,1865576,1,3748,3111,3742,3071,1011,0,3340,8,...,4,0,4,172,17,0,\N,9,0,0
834490,1865577,1,3401,3190,3742,0,1001,0,3340,1,...,0,0,0,1251,15,0,\N,8,0,0
834491,1865578,1,1055,3153,3006,1038,1037,1018,3340,1,...,3,0,3,7,14,0,\N,10,0,0
834492,1865579,1,1052,1058,1026,1331,3165,3285,3340,6,...,3,0,3,403,15,0,\N,11,0,0
834493,1865580,0,2049,3092,3190,1082,3117,0,3364,1,...,0,0,0,236,14,1,\N,18,0,0
834494,1865581,0,3110,2033,3111,3078,1028,0,3340,3,...,1,1,0,1572,15,0,\N,4,0,0
834495,1865582,0,1056,3089,3003,0,0,0,3340,4,...,0,0,0,33,14,0,\N,6,0,0
834496,1865583,0,1055,3031,3006,3085,0,0,3340,3,...,0,0,0,1552,12,0,\N,9,0,0
834497,1865584,0,1401,1036,3009,3153,1028,1028,3341,5,...,46,40,6,786,12,0,\N,0,1,0
834498,1865585,1,3157,3115,3089,3009,3151,3085,3341,17,...,9,6,3,698,18,1,\N,5,1,0
834499,1865586,1,3069,2049,3800,3143,1329,3010,3341,3,...,1,0,1,296,16,0,\N,36,0,0
834500,1865587,1,1056,3157,1314,3285,3089,3165,3340,12,...,4,3,1,337,18,0,\N,2,0,1
834501,1865588,1,3153,3172,3044,3087,3035,3071,3340,15,...,3,0,3,376,18,0,\N,2,2,0
834502,1865589,1,3401,2049,3800,3143,1329,3075,3341,2,...,2,0,2,1655,17,2,\N,26,3,0
834503,1865590,0,3140,1304,3072,3046,3035,3031,3363,8,...,13,12,1,59,18,1,\N,8,3,0
834504,1865591,0,3707,3074,1011,3111,3071,3155,3340,9,...,74,59,15,470,16,1,\N,8,1,0
834505,1865592,0,3087,3153,1324,3031,3072,1031,3340,13,...,49,44,5,344,18,0,\N,7,2,0
834506,1865593,0,3092,3174,2049,1334,3504,3113,3340,2,...,0,0,0,55,16,0,\N,30,0,0
834507,1865594,0,1054,3102,3065,3800,0,0,3340,2,...,0,0,0,200,16,0,\N,13,0,0
834508,1865595,1,1056,3100,3285,1056,3089,1058,3340,3,...,15,10,5,251,18,0,\N,10,1,0
834509,1865596,1,0,3006,3072,3031,3046,3035,3340,10,...,13,10,3,251,18,0,\N,12,2,0
834510,1865597,1,3074,3153,3142,3072,3035,1324,3361,22,...,93,78,15,1096,18,0,\N,14,6,0
834511,1865598,1,2041,3068,3110,1319,3075,3143,3340,7,...,0,0,0,2153,18,3,\N,11,0,1
834512,1865599,1,3096,3023,2045,1329,3165,3151,3341,6,...,1,0,1,184,18,0,\N,26,4,0
834513,1865600,0,3035,1053,3031,1304,3102,3046,3363,11,...,27,20,7,127,18,3,\N,13,1,0
834514,1865601,0,3089,3285,3157,1314,1052,0,3340,11,...,3,3,0,128,18,0,\N,13,0,0
834515,1865602,0,1329,3190,3069,3025,1011,3082,3340,4,...,0,0,0,304,17,0,\N,5,0,0
834516,1865603,0,3074,3071,3707,1033,1036,0,3340,2,...,47,40,7,101,15,0,\N,8,1,0
834517,1865604,0,3155,3074,3153,3110,1319,1037,3340,7,...,5,4,1,654,18,0,\N,12,1,0