In [1]:
import pandas as pd 
import numpy as np
import csv
import os.path

In [83]:
#Importing the data from the csv file in the Data folder and turn them into pandas dataframe. Some of them needs to be converted to int datatype to combina all the datasets because some of the dataframe is type object when read'''
champions = pd.read_csv(r'Documents/Github/Sports-Analysis/Esport-Betting/Data/champs.csv')
matches = pd.read_csv(r'Documents/Github/Sports-Analysis/Esport-Betting/Data/matches.csv', dtype = np.array(np.dtype('int16')))
stats1 = pd.read_csv(r'Documents/Github/Sports-Analysis/Esport-Betting/Data/stats1.csv', dtype = np.array(np.dtype('int16')))
stats1_2 = pd.read_csv(r'Documents/Github/Sports-Analysis/Esport-Betting/Data/stats1-2.csv', dtype = np.array(np.dtype('int16')))
stats1_3 = pd.read_csv(r'Documents/Github/Sports-Analysis/Esport-Betting/Data/stats1-3.csv', dtype = np.array(np.dtype('int16')))
stats2 = pd.read_csv(r'Documents/Github/Sports-Analysis/Esport-Betting/Data/stats2.csv', dtype = np.array(np.dtype('int16')))
stats2_2 = pd.read_csv(r'Documents/Github/Sports-Analysis/Esport-Betting/Data/stats2-2.csv', dtype = np.array(np.dtype('int16')))

#Appending stats1 and stats2 dataset
stats1_2 = pd.concat([stats1_2,stats1_3],sort = False)#stats1_2.concat(stats1_3,, sort = False);
stats1 = pd.concat([stats1,stats1_2],sort = False)#stats1.concat(stats1_2);
stats2 = pd.concat([stats2,stats2_2],sort = False)#stats2.concat(stats2_2);
stats =pd.concat([stats1,stats2],sort = False)# stats1.concat(stats2)

In [53]:
#Merge particpants with appropriate champion name. test
participants = pd.read_csv(r'Documents/Github/Sports-Analysis/Esport-Betting/Data/participants.csv', dtype = np.array(np.dtype('int16')))
#Rename the column of the participants dataframe from id to play_id and championid to id for better clarification. inplace so no extra copy is made
participants.rename(columns ={'id': 'player_id','championid':'id'}, inplace = True)
#Merge the participants dataset with the champions dataset based on the championid. This is similar to left join in SQL 
champions['id'] = champions['id'].astype(str).astype(int)
participants['id'] = participants['id'].astype(str).astype(int)
participants = pd.concat([participants.set_index('id'),champions.set_index('id')], axis=1, join='inner').reset_index()
#Delete the column role because I think it's irrelevant for now 

#Rename the stats data set column from id to player_id and inplace 
stats.rename(columns={'id':'player_id'},inplace = True)
#Convert the player_id column to int because it is currently type Object and we cannot manipulate object type column and int type column too easily 
stats['player_id'] = stats['player_id'].astype(int)
participants['player_id'] = participants['player_id'].astype(str).astype(int)
#merge the participants dataset with stats dataset based on the player_id. This makes participants a massive dataset with lots of columns and champions that each player uses
participants = participants.merge(stats, how = 'left', on = 'player_id')
#This is me testing out the gorupby but this will group the champion based on their name and count how many win and lose they have. Win and lose are represented with 0 and 1 
champsFreq = participants.groupby(['name','win'])['win'].count()

#Turn it into a dataframe
champsFreq = pd.DataFrame(champsFreq)
#Add Suffix Count to the second column. When we groupby, it creates columns with same name and it's difficult to select columns so I add a letter to the column with the number of wins and lose for easy access to the dataframe
champsFreq = champsFreq.add_suffix('Count').reset_index()
#Converting the columns from object to int type
champsFreq['win'] = champsFreq['win'].astype(str).astype(int)

In [55]:
#Separate the dataframe into two values, win and lose. Win is represented with 1 and lose is represented with 0
loseValues = champsFreq[champsFreq['win'] == 0]
winValues = champsFreq[champsFreq['win'] == 1]

In [84]:
matches['seasonid'] = matches['seasonid'].astype(int)
matches = matches[matches['seasonid'] == 8]

In [88]:
matches.shape

(173854, 8)

In [87]:
participants.shape

(1834520, 64)

In [17]:
champions.dtypes

name    object
id       int64
dtype: object

In [6]:
stats.shape

(1834517, 56)

In [11]:
matches.shape

(184069, 8)

In [89]:
matches #test

,id,gameid,platformid,queueid,seasonid,duration,creation,version
0,10,3187427022,EUW1,420,8,1909,1495068946860,7.10.187.9675
1,11,3187425281,EUW1,420,8,1693,1495066760778,7.10.187.9675
2,12,3187269801,EUW1,420,8,1482,1495053375889,7.10.187.9675
3,13,3187252065,EUW1,420,8,1954,1495050993613,7.10.187.9675
4,14,3187201038,EUW1,420,8,2067,1495047893400,7.10.187.9675
5,15,3187129136,EUW1,420,8,1593,1495044303031,7.10.187.9675
6,16,3187112816,EUW1,420,8,1589,1495042306859,7.10.187.9675
7,17,3186838875,EUW1,420,8,1664,1495026635492,7.10.187.9675
8,18,3186843487,EUW1,420,8,1875,1495024225924,7.10.187.9675
9,19,3184212544,EUW1,420,8,1541,1494859155283,7.9.186.8155
10,20,3184139041,EUW1,420,8,830,1494857923980,7.9.186.8155
11,21,3183199947,EUW1,420,8,1739,1494769120347,7.9.186.8155
12,22,3183149084,EUW1,420,8,1964,1494766338780,7.9.186.8155
13,23,3183142191,EUW1,420,8,1280,1494764416274,7.9.186.8155
14,24,3181648230,EUW1,420,8,2112,1494676934584,7.9.186.8155
15,25,3180173921,EUW1,420,8,2329,1494585099703,7.9.186.8155
16,26,3179228168,EUW1,440,8,2045,1494521072459,7.9.186.8155
17,27,3179176364,EUW1,440,8,1985,1494517779956,7.9.186.8155
18,28,3179126839,EUW1,440,8,2217,1494514934579,7.9.186.8155
19,29,3179074023,EUW1,440,8,2557,1494510773735,7.9.186.8155
20,30,3178970520,EUW1,420,8,1797,1494499251808,7.9.186.8155
21,31,3178915713,EUW1,420,8,2859,1494495702609,7.9.186.8155
22,32,3177809461,EUW1,420,8,1459,1494419840704,7.9.186.8155
23,33,3177775768,EUW1,420,8,1419,1494417712142,7.9.186.8155
24,34,3177764986,EUW1,420,8,1978,1494412363193,7.9.186.8155
25,35,3177742377,EUW1,420,8,1988,1494409790629,7.9.186.8155
26,36,3177689928,EUW1,420,8,1900,1494407387901,7.9.186.8155
27,37,3177272933,EUW1,420,8,1561,1494351869120,7.9.186.8155
28,38,3177199680,EUW1,420,8,2153,1494348831486,7.9.186.8155
29,39,3176695544,EUW1,420,8,2358,1494330368821,7.9.186.8155
...,...,...,...,...,...,...,...,...
183749,187269,2418721339,NA1,420,8,1725,1486460295056,7.2.174.829
183750,187270,2409797106,NA1,440,8,1752,1485500450335,7.2.174.829
183751,187271,2409782922,NA1,440,8,2231,1485497519818,7.2.174.829
183752,187272,2409726326,NA1,440,8,2071,1485494066163,7.2.174.829
183753,187273,2382850710,NA1,440,8,2451,1482724678420,6.24.169.4424
183754,187274,2382766157,NA1,440,8,1255,1482718365292,6.24.169.4424
183755,187275,2382771056,NA1,440,8,1952,1482715884236,6.24.169.4424
183756,187276,2382705019,NA1,440,8,2299,1482712418002,6.24.169.4424
183757,187277,2382711284,NA1,440,8,1381,1482710278013,6.24.169.4424
183758,187278,2382514296,NA1,420,8,1680,1482692433419,6.24.169.4424
183759,187279,2382098040,NA1,420,8,1648,1482646223359,6.24.169.4424
183760,187280,2382112851,NA1,420,8,1557,1482644113870,6.24.169.4424
183761,187281,2381987619,NA1,420,8,2104,1482641448639,6.24.169.4424
183762,187282,2381832752,NA1,420,8,1843,1482633000482,6.24.169.4424
183763,187283,2381420121,NA1,440,8,2296,1482567281935,6.24.169.4424
183764,187284,2381359473,NA1,440,8,216,1482566311497,6.24.169.4424
183765,187285,2381356589,NA1,440,8,1271,1482564359247,6.24.169.4424
183766,187286,2381353019,NA1,440,8,1430,1482562341622,6.24.169.4424
183767,187287,2381306391,NA1,420,8,2272,1482559435012,6.24.169.4424
183768,187288,2381291755,NA1,420,8,1753,1482557018267,6.24.169.4424
183769,187289,2381245132,NA1,420,8,1920,1482554426781,6.24.169.4424
183770,187290,2381189563,NA1,420,8,1634,1482552317242,6.24.169.4424
183771,187291,2381165299,NA1,420,8,1474,1482549913342,6.24.169.4424
183772,187292,2381127232,NA1,420,8,2077,1482546759731,6.24.169.4424
183773,187293,2376856543,NA1,440,8,2172,1482126137528,6.24.169.4424
183774,187294,2376842100,NA1,440,8,1255,1482124104388,6.24.169.4424
183775,187295,2376747599,NA1,440,8,2248,1482118169089,6.24.169.4424
183776,187296,2370832265,NA1,440,8,1988,1481533939683,6.24.168.1268
183777,187297,2370811053,NA1,440,8,1938,1481531417490,6.24.168.1268
183778,187298,2370777737,NA1,440,8,1816,1481529064064,6.24.168.1268