In [16]:
import pandas as pd 
import numpy as np
import csv
import os.path

In [17]:
#Importing the data from the csv file in the Data folder and turn them into pandas dataframe. Some of them needs to be converted to int datatype to combina all the datasets because some of the dataframe is type object when read'''
champions = pd.read_csv(r'Documents/Github/Sports-Analysis/Esport-Betting/Data/champs.csv')
matches = pd.read_csv(r'Documents/Github/Sports-Analysis/Esport-Betting/Data/matches.csv', dtype = np.array(np.dtype('int16')))
stats1 = pd.read_csv(r'Documents/Github/Sports-Analysis/Esport-Betting/Data/stats1.csv', dtype = np.array(np.dtype('int16')))
stats1_2 = pd.read_csv(r'Documents/Github/Sports-Analysis/Esport-Betting/Data/stats1-2.csv', dtype = np.array(np.dtype('int16')))
stats1_3 = pd.read_csv(r'Documents/Github/Sports-Analysis/Esport-Betting/Data/stats1-3.csv', dtype = np.array(np.dtype('int16')))
stats2 = pd.read_csv(r'Documents/Github/Sports-Analysis/Esport-Betting/Data/stats2.csv', dtype = np.array(np.dtype('int16')))
stats2_2 = pd.read_csv(r'Documents/Github/Sports-Analysis/Esport-Betting/Data/stats2-2.csv', dtype = np.array(np.dtype('int16')))

#Appending stats1 and stats2 dataset
stats1_2 = stats1_2.append(stats1_3);
stats1 = stats1.append(stats1_2);
stats2 = stats2.append(stats2_2);
stats = stats1.append(stats2)

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3296, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-17-3be1e04a7efd>", line 14, in <module>
    stats = stats1.append(stats2)
  File "/Applications/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py", line 6692, in append
    sort=sort)
  File "/Applications/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/concat.py", line 229, in concat
    return op.get_result()
  File "/Applications/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/concat.py", line 426, in get_result
    copy=self.copy)
  File "/Applications/anaconda3/lib/python3.7/site-packages/pandas/core/internals/managers.py", line 2056, in concatenate_block_managers
    elif is_uniform_join_units(join_units):
  File "/Applications/anaconda3/lib/python3.7/site-packages/pandas/core/internals/concat.py", line 379, in is_uniform_join_units
    all(not ju.is_na or ju.block.is_extension for ju in join_units) and
  File "/Applications/anaconda3/lib/python3.7/site-packages/pandas/core/internals/concat.py", line 379, in <genexpr>
    all(not ju.is_na or ju.block.is_extension for ju in join_units) and
  File "pandas/_libs/properties.pyx", line 36, in pandas._libs.properties.CachedProperty.__get__
  File "/Applications/anaconda3/lib/python3.7/site-packages/pandas/core/internals/concat.py", line 160, in is_na
    if not isna(values_flat[i:i + chunk_len]).all():
  File "/Applications/anaconda3/lib/python3.7/site-packages/pandas/core/dtypes/missing.py", line 99, in isna
    return _isna(obj)
  File "/Applications/anaconda3/lib/python3.7/site-packages/pandas/core/dtypes/missing.py", line 114, in _isna_new
    return _isna_ndarraylike(obj)
  File "/Applications/anaconda3/lib/python3.7/site-packages/pandas/core/dtypes/missing.py", line 213, in _isna_ndarraylike
    vec = libmissing.isnaobj(values.ravel())
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2033, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1095, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 347, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Applications/anaconda3/lib/python3.7/inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/Applications/anaconda3/lib/python3.7/inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/Applications/anaconda3/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/Applications/anaconda3/lib/python3.7/inspect.py", line 732, in getmodule
    for modname, module in list(sys.modules.items()):
KeyboardInterrupt

KeyboardInterrupt:

In [12]:
#Merge particpants with appropriate champion name. test
participants = pd.read_csv(r'Documents/Github/Sports-Analysis/Esport-Betting/Data/participants.csv')
#Rename the column of the participants dataframe from id to play_id and championid to id for better clarification. inplace so no extra copy is made
participants.rename(columns ={'id': 'player_id','championid':'id'}, inplace = True)
#Merge the participants dataset with the champions dataset based on the championid. This is similar to left join in SQL 
champions['id'] = champions['id'].astype(str).astype(int)
participants['id'] = participants['id'].astype(str).astype(int)
participants = participants.merge(champions, how='left', on='id')
#Delete the column role because I think it's irrelevant for now 
#del participants['role']

#Rename the stats data set column from id to player_id and inplace 
stats.rename(columns={'id':'player_id'},inplace = True)
#Convert the player_id column to int because it is currently type Object and we cannot manipulate object type column and int type column too easily 
stats['player_id'] = stats['player_id'].astype(str).astype(int)
#merge the participants dataset with stats dataset based on the player_id. This makes participants a massive dataset with lots of columns and champions that each player uses
participants = participants.merge(stats, how = 'left', on = 'player_id')

#Separate the dataframe into two values, win and lose. Win is represented with 1 and lose is represented with 0
loseValues = champsFreq[champsFreq['win'] == 0]
winValues = champsFreq[champsFreq['win'] == 1]

NameError: name 'champsFreq' is not defined

In [13]:
print (stats1)

          0  0.1 0.10 0.11 0.12 0.13 0.14 0.15 0.16 0.17  ... triplekills  \
0       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
1       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
2       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
3       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
4       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
5       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
6       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
7       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
8       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
9       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
10      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
11      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
12      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
13      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
14      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
15      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
16      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
17      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
18      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
19      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
20      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
21      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
22      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
23      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
24      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
25      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           1
26      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
27      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
28      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
29      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...           0
...     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...         ...
255970    1    1    0    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN
255971    1    1    0    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN
255972    1    4    0    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN
255973    1    1    0    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN
255974    1    0    0    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN
255975    1    0    2    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN
255976    0    0    0    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN
255977    0    0    2    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN
255978    0    0    0    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN
255979    0    1    1    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN
255980    0    0    1    0    1  NaN  NaN  NaN  NaN  NaN  ...         NaN
255981    0    0    0    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN
255982    0    0    0    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN
255983    0    3    1    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN
255984    0    0    0    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN
255985    0    0    0    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN
255986    1    0    0    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN
255987    1    0    4    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN
255988    1    2    0    0    1  NaN  NaN  NaN  NaN  NaN  ...         NaN
255989    1    1    0    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN
255990    1    1    3    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN
255991    1    0    2    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN
255992    1    1    0    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN
255993    1    0    3    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN
255994    1    1    0    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN
255995    1    2    1    0    1  NaN  NaN  NaN  NaN  NaN  ...         NaN
255996    0    1    0    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN
255997    0    0    0    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN
255998    0    0    0    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN
255999    0    0    3    0    0  NaN  NaN  NaN  NaN  NaN  ...         NaN

       truedmgdealt truedmgtaken truedmgtochamp turretkills visionscore  \
0              6392         3218            888           0          14
1              2066         2136            816           1          30
2               266         1993             24           0          26
3              3168         1918           3168           3           5
4              1763         2615            275           1          15
5             12015          462           1332           1          18
6               351         3080              0           2          25
7             36313          557           5282           3          12
8              7213          628            750           2          12
9             10464          443           4517           0          71
10              462          182              0           1          26
11              208          488             26           0          16
12             1238          472            372           0           9
13                0         1098              0           0          13
14             5618          934           1684           0          20
15             3386          362            838           2          18
16             1516          372            898           2          25
17             1094          474             78           5          20
18              311          158            264           0          24
19             6149          716           1096           0          19
20              372         1672            180           0           4
21              238          556              0           0          22
22              828         1764            197           1          12
23             7845         1803           1163           0          13
24             7790          572            796           0          11
25            25422          291           4317           2          13
26             6178          803            916           1          11
27                0          755              0           2          12
28              408           67            158           0          34
29             3537          420            977           1          10
...             ...          ...            ...         ...         ...
255970          NaN          NaN            NaN         NaN         NaN
255971          NaN          NaN            NaN         NaN         NaN
255972          NaN          NaN            NaN         NaN         NaN
255973          NaN          NaN            NaN         NaN         NaN
255974          NaN          NaN            NaN         NaN         NaN
255975          NaN          NaN            NaN         NaN         NaN
255976          NaN          NaN            NaN         NaN         NaN
255977          NaN          NaN            NaN         NaN         NaN
255978          NaN          NaN            NaN         NaN         NaN
255979          NaN          NaN            NaN         NaN         NaN
255980          NaN          NaN            NaN         NaN         NaN
255981          NaN          NaN            NaN         NaN         NaN
255982          NaN          NaN            NaN         NaN         NaN
255983          NaN          NaN            NaN         NaN         NaN
255984          NaN          NaN            NaN         NaN         NaN
255985          NaN          NaN            NaN         NaN         NaN
255986          NaN          NaN            NaN         NaN         NaN
255987          NaN          NaN            NaN         NaN         NaN
255988          NaN          NaN            NaN         NaN         NaN
255989          NaN          NaN            NaN         NaN         NaN
255990          NaN          NaN            NaN         NaN         NaN
255991          NaN          NaN            NaN         NaN         NaN
255992          NaN          NaN            NaN         NaN         NaN
255993          NaN          NaN            NaN         NaN         NaN
255994          NaN          NaN            NaN         NaN         NaN
255995          NaN          NaN            NaN         NaN         NaN
255996          NaN          NaN            NaN         NaN         NaN
255997          NaN          NaN            NaN         NaN         NaN
255998          NaN          NaN            NaN         NaN         NaN
255999          NaN          NaN            NaN         NaN         NaN

       wardsbought wardskilled wardsplaced  win
0                0           0          10    0
1                0           3          17    0
2                0           5          13    0
3                0           0           3    0
4                0           0          10    0
5                0           2           8    1
6                0           0           7    1
7                0           0           8    1
8                0           1           6    1
9                0           7          25    1
10               0           3          14    0
11               0           2          10    0
12               0           1           7    0
13               0           1           9    0
14               0           1          12    0
15               0           1           6    1
16               0           2          11    1
17               0           1          11    1
18               0           3          12    1
19               0           1          10    1
20               0           0           4    0
21               0           1          13    0
22               0           0          10    0
23               0           1           8    0
24               0           0           9    0
25               0           1           8    1
26               0           0           6    1
27               0           1           6    1
28               0           1          15    1
29               0           2           6    1
...            ...         ...         ...  ...
255970         NaN         NaN         NaN  NaN
255971         NaN         NaN         NaN  NaN
255972         NaN         NaN         NaN  NaN
255973         NaN         NaN         NaN  NaN
255974         NaN         NaN         NaN  NaN
255975         NaN         NaN         NaN  NaN
255976         NaN         NaN         NaN  NaN
255977         NaN         NaN         NaN  NaN
255978         NaN         NaN         NaN  NaN
255979         NaN         NaN         NaN  NaN
255980         NaN         NaN         NaN  NaN
255981         NaN         NaN         NaN  NaN
255982         NaN         NaN         NaN  NaN
255983         NaN         NaN         NaN  NaN
255984         NaN         NaN         NaN  NaN
255985         NaN         NaN         NaN  NaN
255986         NaN         NaN         NaN  NaN
255987         NaN         NaN         NaN  NaN
255988         NaN         NaN         NaN  NaN
255989         NaN         NaN         NaN  NaN
255990         NaN         NaN         NaN  NaN
255991         NaN         NaN         NaN  NaN
255992         NaN         NaN         NaN  NaN
255993         NaN         NaN         NaN  NaN
255994         NaN         NaN         NaN  NaN
255995         NaN         NaN         NaN  NaN
255996         NaN         NaN         NaN  NaN
255997         NaN         NaN         NaN  NaN
255998         NaN         NaN         NaN  NaN
255999         NaN         NaN         NaN  NaN

[999997 rows x 151 columns]

In [44]:
stats['win'].describe()

count     1834517
unique          2
top             0
freq       917259
Name: win, dtype: object

In [ ]:
print(stats1.dtype)

NameError: name 'stats1' is not defined

In [46]:
stats

,player_id,win,item1,item2,item3,item4,item5,item6,trinket,kills,...,neutralminionskilled,ownjunglekills,enemyjunglekills,totcctimedealt,champlvl,pinksbought,wardsbought,wardsplaced,wardskilled,firstblood
0,9,0,3748,2003,3111,3053,1419,1042,3340,6,...,69,42,27,610,13,0,0,10,0,0
1,10,0,2301,3111,3190,3107,0,0,3364,0,...,1,1,0,211,14,1,0,17,3,0
2,11,0,1055,3072,3006,3031,3046,1036,3340,7,...,3,1,2,182,14,1,0,13,5,0
3,12,0,1029,3078,3156,1001,3053,0,3340,5,...,6,6,0,106,15,0,0,3,0,0
4,13,0,3020,1058,3198,3102,1052,1026,3340,2,...,4,3,1,159,15,0,0,10,0,0
5,14,1,1400,3111,3078,3742,1033,3067,3340,3,...,111,81,30,808,16,0,0,8,2,0
6,15,1,3025,3193,3068,3047,1028,3082,3363,4,...,6,0,6,179,16,1,0,7,0,0
7,16,1,3135,3165,3089,3020,1058,3136,3340,13,...,6,3,3,48,17,0,0,8,0,0
8,17,1,3046,3031,3006,3085,3072,1029,3340,15,...,7,2,5,440,16,1,0,6,1,1
9,18,1,1058,2045,3092,3089,3113,3158,3364,4,...,2,1,1,260,16,5,0,25,7,0
10,19,0,3092,2010,3158,1082,3165,0,3340,2,...,2,2,0,236,12,3,0,14,3,0
11,20,0,3040,3165,1056,1052,0,0,3340,2,...,10,10,0,980,12,1,0,10,2,0
12,21,0,1038,1037,3087,3006,1018,1042,3340,1,...,49,25,24,203,13,1,0,7,1,1
13,22,0,3157,3158,3027,3100,1056,1058,3340,9,...,1,0,1,324,16,0,0,9,1,0
14,23,0,1402,3100,3041,3020,3089,3135,3340,19,...,70,36,34,564,17,0,0,12,1,0
15,24,1,3046,3031,3085,1053,3006,3133,3363,12,...,24,15,9,362,15,1,0,6,1,0
16,25,1,1055,3071,3142,3111,3134,1037,3340,7,...,8,6,2,25,15,1,0,11,2,0
17,26,1,3165,3020,1026,3157,3285,1056,3363,5,...,3,3,0,419,15,2,0,11,1,0
18,27,1,3092,3165,1058,3020,1026,1052,3340,3,...,0,0,0,227,13,3,0,12,3,0
19,28,1,3748,3155,3133,0,1419,3111,3340,5,...,61,40,21,333,14,0,0,10,1,0
20,29,0,1038,3006,1053,1036,1036,3031,3340,4,...,3,3,0,79,11,0,0,4,0,0
21,30,0,3117,3801,3504,2302,1029,0,3364,2,...,0,0,0,132,11,0,0,13,1,0
22,31,0,1056,3113,0,3135,3165,3020,3340,9,...,0,0,0,369,13,0,0,10,0,0
23,32,0,1401,2031,3047,3001,3024,0,3364,3,...,71,55,16,195,13,1,0,8,1,0
24,33,0,3087,3153,3006,1055,0,0,3340,2,...,0,0,0,29,12,1,0,9,0,1
25,34,1,1026,3165,3020,3102,1058,1052,3340,13,...,1,0,1,115,13,0,0,8,1,0
26,35,1,1400,3078,1033,3111,1036,0,3340,8,...,69,41,28,602,13,0,0,6,0,0
27,36,1,1055,3031,1053,3085,3006,3086,3340,4,...,8,6,2,44,14,0,0,6,1,0
28,37,1,2301,3047,3107,3105,1082,0,3341,0,...,0,0,0,148,12,2,0,15,1,0
29,38,1,3006,3153,3085,1038,0,0,3363,7,...,9,9,0,228,12,0,0,6,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
834488,1865575,1,1400,2031,3111,3074,3742,1028,3340,9,...,47,32,15,515,14,0,\N,10,1,1
834489,1865576,1,3748,3111,3742,3071,1011,0,3340,8,...,4,0,4,172,17,0,\N,9,0,0
834490,1865577,1,3401,3190,3742,0,1001,0,3340,1,...,0,0,0,1251,15,0,\N,8,0,0
834491,1865578,1,1055,3153,3006,1038,1037,1018,3340,1,...,3,0,3,7,14,0,\N,10,0,0
834492,1865579,1,1052,1058,1026,1331,3165,3285,3340,6,...,3,0,3,403,15,0,\N,11,0,0
834493,1865580,0,2049,3092,3190,1082,3117,0,3364,1,...,0,0,0,236,14,1,\N,18,0,0
834494,1865581,0,3110,2033,3111,3078,1028,0,3340,3,...,1,1,0,1572,15,0,\N,4,0,0
834495,1865582,0,1056,3089,3003,0,0,0,3340,4,...,0,0,0,33,14,0,\N,6,0,0
834496,1865583,0,1055,3031,3006,3085,0,0,3340,3,...,0,0,0,1552,12,0,\N,9,0,0
834497,1865584,0,1401,1036,3009,3153,1028,1028,3341,5,...,46,40,6,786,12,0,\N,0,1,0
834498,1865585,1,3157,3115,3089,3009,3151,3085,3341,17,...,9,6,3,698,18,1,\N,5,1,0
834499,1865586,1,3069,2049,3800,3143,1329,3010,3341,3,...,1,0,1,296,16,0,\N,36,0,0
834500,1865587,1,1056,3157,1314,3285,3089,3165,3340,12,...,4,3,1,337,18,0,\N,2,0,1
834501,1865588,1,3153,3172,3044,3087,3035,3071,3340,15,...,3,0,3,376,18,0,\N,2,2,0
834502,1865589,1,3401,2049,3800,3143,1329,3075,3341,2,...,2,0,2,1655,17,2,\N,26,3,0
834503,1865590,0,3140,1304,3072,3046,3035,3031,3363,8,...,13,12,1,59,18,1,\N,8,3,0
834504,1865591,0,3707,3074,1011,3111,3071,3155,3340,9,...,74,59,15,470,16,1,\N,8,1,0
834505,1865592,0,3087,3153,1324,3031,3072,1031,3340,13,...,49,44,5,344,18,0,\N,7,2,0
834506,1865593,0,3092,3174,2049,1334,3504,3113,3340,2,...,0,0,0,55,16,0,\N,30,0,0
834507,1865594,0,1054,3102,3065,3800,0,0,3340,2,...,0,0,0,200,16,0,\N,13,0,0
834508,1865595,1,1056,3100,3285,1056,3089,1058,3340,3,...,15,10,5,251,18,0,\N,10,1,0
834509,1865596,1,0,3006,3072,3031,3046,3035,3340,10,...,13,10,3,251,18,0,\N,12,2,0
834510,1865597,1,3074,3153,3142,3072,3035,1324,3361,22,...,93,78,15,1096,18,0,\N,14,6,0
834511,1865598,1,2041,3068,3110,1319,3075,3143,3340,7,...,0,0,0,2153,18,3,\N,11,0,1
834512,1865599,1,3096,3023,2045,1329,3165,3151,3341,6,...,1,0,1,184,18,0,\N,26,4,0
834513,1865600,0,3035,1053,3031,1304,3102,3046,3363,11,...,27,20,7,127,18,3,\N,13,1,0
834514,1865601,0,3089,3285,3157,1314,1052,0,3340,11,...,3,3,0,128,18,0,\N,13,0,0
834515,1865602,0,1329,3190,3069,3025,1011,3082,3340,4,...,0,0,0,304,17,0,\N,5,0,0
834516,1865603,0,3074,3071,3707,1033,1036,0,3340,2,...,47,40,7,101,15,0,\N,8,1,0
834517,1865604,0,3155,3074,3153,3110,1319,1037,3340,7,...,5,4,1,654,18,0,\N,12,1,0