In [1]:
import pandas as pd 
import numpy as np
import csv
import os.path

In [2]:
#Importing the data from the csv file in the Data folder and turn them into pandas dataframe. Some of them needs to be converted to int datatype to combina all the datasets because some of the dataframe is type object when read'''
champions = pd.read_csv(r'./Data/champs.csv')
matches = pd.read_csv(r'./Data/matches.csv', dtype = np.array(np.dtype('int16')))
stats1 = pd.read_csv(r'./Data/stats1.csv', dtype = np.array(np.dtype('int16')))
stats1_2 = pd.read_csv(r'./Data/stats1-2.csv', dtype = np.array(np.dtype('int16')))
stats1_3 = pd.read_csv(r'./Data/stats1-3.csv', dtype = np.array(np.dtype('int16')))
stats2 = pd.read_csv(r'./Data/stats2.csv', dtype = np.array(np.dtype('int16')))
stats2_2 = pd.read_csv(r'./Data/stats2-2.csv', dtype = np.array(np.dtype('int16')))

#Appending stats1 and stats2 dataset
stats1_2 = pd.concat([stats1_2,stats1_3],sort = False)#stats1_2.concat(stats1_3,, sort = False);
stats1 = pd.concat([stats1,stats1_2],sort = False)#stats1.concat(stats1_2);
stats2 = pd.concat([stats2,stats2_2],sort = False)#stats2.concat(stats2_2);
stats =pd.concat([stats1,stats2],sort = False)# stats1.concat(stats2)

In [3]:
#Merge particpants with appropriate champion name. test
participants = pd.read_csv(r'./Data/participants.csv', dtype = np.array(np.dtype('int16')))
#Rename the column of the participants dataframe from id to play_id and championid to id for better clarification. inplace so no extra copy is made
participants.rename(columns ={'id': 'player_id','championid':'id'}, inplace = True)
#Merge the participants dataset with the champions dataset based on the championid. This is similar to left join in SQL 
champions['id'] = champions['id'].astype(str).astype(int)
participants['id'] = participants['id'].astype(str).astype(int)
participants = pd.concat([participants.set_index('id'),champions.set_index('id')], axis=1, join='inner').reset_index()
#Delete the column role because I think it's irrelevant for now 

#Rename the stats data set column from id to player_id and inplace 
stats.rename(columns={'id':'player_id'},inplace = True)
#Convert the player_id column to int because it is currently type Object and we cannot manipulate object type column and int type column too easily 
stats['player_id'] = stats['player_id'].astype(int)
participants['player_id'] = participants['player_id'].astype(str).astype(int)
#merge the participants dataset with stats dataset based on the player_id. This makes participants a massive dataset with lots of columns and champions that each player uses
participants = participants.merge(stats, how = 'left', on = 'player_id')
#This is me testing out the gorupby but this will group the champion based on their name and count how many win and lose they have. Win and lose are represented with 0 and 1 
champsFreq = participants.groupby(['name','win'])['win'].count()

#Turn it into a dataframe
champsFreq = pd.DataFrame(champsFreq)
#Add Suffix Count to the second column. When we groupby, it creates columns with same name and it's difficult to select columns so I add a letter to the column with the number of wins and lose for easy access to the dataframe
champsFreq = champsFreq.add_suffix('Count').reset_index()
#Converting the columns from object to int type
champsFreq['win'] = champsFreq['win'].astype(str).astype(int)

In [4]:
#Get the lose values
loseValues = champsFreq.loc[champsFreq['win'] == 0,'winCount'].reset_index()
loseValues.rename(columns = {'winCount': 'lose'}, inplace = True)
loseValues = loseValues['lose']

#Get the win values
winValues = champsFreq.loc[champsFreq['win'] == 1, 'winCount'].reset_index()
winValues.rename(columns = {'winCount':'win'}, inplace = True)
winValues = winValues['win']

#Get the champion name
championName = champsFreq['name'].drop_duplicates().reset_index()
championName = championName['name']

In [5]:
#get the match data for season 8 only
matches['seasonid'] = matches['seasonid'].astype(int)
matches = matches[matches['seasonid'] == 8]

In [6]:
#get the match id specific columns good for evaluation 
matches.rename(columns = {'id': 'matchid'}, inplace = True)
matches = matches[['matchid','seasonid','duration','version']]

In [7]:
#get participants columns that needed 
participants_match = participants[['id','player_id','matchid','player','name','win']]

In [8]:
#merge on matchid 
new_match = matches.merge(participants_match, how = 'left', on = 'matchid')

In [9]:

#Remake the chamions dataframe with win and lose values for each champion to make a clearer dataframe
champions_values = pd.DataFrame([championName, winValues, loseValues]).transpose()

In [10]:
new_match

,matchid,seasonid,duration,version,id,player_id,player,name,win
0,10,8,1909,7.10.187.9675,19,9,1,Warwick,0
1,10,8,1909,7.10.187.9675,267,10,2,Nami,0
2,10,8,1909,7.10.187.9675,119,11,3,Draven,0
3,10,8,1909,7.10.187.9675,114,12,4,Fiora,0
4,10,8,1909,7.10.187.9675,112,13,5,Viktor,0
5,10,8,1909,7.10.187.9675,72,14,6,Skarner,1
6,10,8,1909,7.10.187.9675,3,15,7,Galio,1
7,10,8,1909,7.10.187.9675,103,16,8,Ahri,1
8,10,8,1909,7.10.187.9675,222,17,9,Jinx,1
9,10,8,1909,7.10.187.9675,161,18,10,VelKoz,1
10,11,8,1693,7.10.187.9675,115,19,1,Ziggs,0
11,11,8,1693,7.10.187.9675,69,20,2,Cassiopeia,0
12,11,8,1693,7.10.187.9675,157,21,3,Yasuo,0
13,11,8,1693,7.10.187.9675,4,22,4,Twisted Fate,0
14,11,8,1693,7.10.187.9675,28,23,5,Evelynn,0
15,11,8,1693,7.10.187.9675,51,24,6,Caitlyn,1
16,11,8,1693,7.10.187.9675,62,25,7,Wukong,1
17,11,8,1693,7.10.187.9675,134,26,8,Syndra,1
18,11,8,1693,7.10.187.9675,43,27,9,Karma,1
19,11,8,1693,7.10.187.9675,19,28,10,Warwick,1
20,12,8,1482,7.10.187.9675,119,29,1,Draven,0
21,12,8,1482,7.10.187.9675,40,30,2,Janna,0
22,12,8,1482,7.10.187.9675,99,31,3,Lux,0
23,12,8,1482,7.10.187.9675,32,32,4,Amumu,0
24,12,8,1482,7.10.187.9675,67,33,5,Vayne,0
25,12,8,1482,7.10.187.9675,103,34,6,Ahri,1
26,12,8,1482,7.10.187.9675,254,35,7,Vi,1
27,12,8,1482,7.10.187.9675,51,36,8,Caitlyn,1
28,12,8,1482,7.10.187.9675,267,37,9,Nami,1
29,12,8,1482,7.10.187.9675,29,38,10,Twitch,1
...,...,...,...,...,...,...,...,...,...
1733628,187296,8,1988,6.24.168.1268,163,1862675,1,Taliyah,1
1733629,187296,8,1988,6.24.168.1268,39,1862676,2,Irelia,1
1733630,187296,8,1988,6.24.168.1268,81,1862677,3,Ezreal,1
1733631,187296,8,1988,6.24.168.1268,427,1862678,4,Ivern,1
1733632,187296,8,1988,6.24.168.1268,78,1862679,5,Poppy,1
1733633,187296,8,1988,6.24.168.1268,67,1862680,6,Vayne,0
1733634,187296,8,1988,6.24.168.1268,122,1862681,7,Darius,0
1733635,187296,8,1988,6.24.168.1268,53,1862682,8,Blitzcrank,0
1733636,187296,8,1988,6.24.168.1268,64,1862683,9,Lee Sin,0
1733637,187296,8,1988,6.24.168.1268,157,1862684,10,Yasuo,0
1733638,187297,8,1938,6.24.168.1268,12,1862685,1,Alistar,1
1733639,187297,8,1938,6.24.168.1268,35,1862686,2,Shaco,1
1733640,187297,8,1938,6.24.168.1268,111,1862687,3,Nautilus,1
1733641,187297,8,1938,6.24.168.1268,22,1862688,4,Ashe,1
1733642,187297,8,1938,6.24.168.1268,24,1862689,5,Jax,1
1733643,187297,8,1938,6.24.168.1268,91,1862690,6,Talon,0
1733644,187297,8,1938,6.24.168.1268,51,1862691,7,Caitlyn,0
1733645,187297,8,1938,6.24.168.1268,7,1862692,8,LeBlanc,0
1733646,187297,8,1938,6.24.168.1268,3,1862693,9,Galio,0
1733647,187297,8,1938,6.24.168.1268,43,1862694,10,Karma,0
1733648,187298,8,1816,6.24.168.1268,23,1862695,1,Tryndamere,1
1733649,187298,8,1816,6.24.168.1268,127,1862696,2,Lissandra,1
1733650,187298,8,1816,6.24.168.1268,104,1862697,3,Graves,1
1733651,187298,8,1816,6.24.168.1268,53,1862698,4,Blitzcrank,1
1733652,187298,8,1816,6.24.168.1268,51,1862699,5,Caitlyn,1
1733653,187298,8,1816,6.24.168.1268,103,1862700,6,Ahri,0
1733654,187298,8,1816,6.24.168.1268,78,1862701,7,Poppy,0
1733655,187298,8,1816,6.24.168.1268,40,1862702,8,Janna,0
1733656,187298,8,1816,6.24.168.1268,67,1862703,9,Vayne,0
1733657,187298,8,1816,6.24.168.1268,32,1862704,10,Amumu,0

In [11]:
matches

       matchid  seasonid duration        version
0           10         8     1909  7.10.187.9675
1           11         8     1693  7.10.187.9675
2           12         8     1482  7.10.187.9675
3           13         8     1954  7.10.187.9675
4           14         8     2067  7.10.187.9675
5           15         8     1593  7.10.187.9675
6           16         8     1589  7.10.187.9675
7           17         8     1664  7.10.187.9675
8           18         8     1875  7.10.187.9675
9           19         8     1541   7.9.186.8155
10          20         8      830   7.9.186.8155
11          21         8     1739   7.9.186.8155
12          22         8     1964   7.9.186.8155
13          23         8     1280   7.9.186.8155
14          24         8     2112   7.9.186.8155
15          25         8     2329   7.9.186.8155
16          26         8     2045   7.9.186.8155
17          27         8     1985   7.9.186.8155
18          28         8     2217   7.9.186.8155
19          29         8     2557   7.9.186.8155
20          30         8     1797   7.9.186.8155
21          31         8     2859   7.9.186.8155
22          32         8     1459   7.9.186.8155
23          33         8     1419   7.9.186.8155
24          34         8     1978   7.9.186.8155
25          35         8     1988   7.9.186.8155
26          36         8     1900   7.9.186.8155
27          37         8     1561   7.9.186.8155
28          38         8     2153   7.9.186.8155
29          39         8     2358   7.9.186.8155
...        ...       ...      ...            ...
183749  187269         8     1725    7.2.174.829
183750  187270         8     1752    7.2.174.829
183751  187271         8     2231    7.2.174.829
183752  187272         8     2071    7.2.174.829
183753  187273         8     2451  6.24.169.4424
183754  187274         8     1255  6.24.169.4424
183755  187275         8     1952  6.24.169.4424
183756  187276         8     2299  6.24.169.4424
183757  187277         8     1381  6.24.169.4424
183758  187278         8     1680  6.24.169.4424
183759  187279         8     1648  6.24.169.4424
183760  187280         8     1557  6.24.169.4424
183761  187281         8     2104  6.24.169.4424
183762  187282         8     1843  6.24.169.4424
183763  187283         8     2296  6.24.169.4424
183764  187284         8      216  6.24.169.4424
183765  187285         8     1271  6.24.169.4424
183766  187286         8     1430  6.24.169.4424
183767  187287         8     2272  6.24.169.4424
183768  187288         8     1753  6.24.169.4424
183769  187289         8     1920  6.24.169.4424
183770  187290         8     1634  6.24.169.4424
183771  187291         8     1474  6.24.169.4424
183772  187292         8     2077  6.24.169.4424
183773  187293         8     2172  6.24.169.4424
183774  187294         8     1255  6.24.169.4424
183775  187295         8     2248  6.24.169.4424
183776  187296         8     1988  6.24.168.1268
183777  187297         8     1938  6.24.168.1268
183778  187298         8     1816  6.24.168.1268

[173854 rows x 4 columns]

In [12]:
participants

,id,player_id,matchid,player,ss1,ss2,role,position,name,win,...,neutralminionskilled,ownjunglekills,enemyjunglekills,totcctimedealt,champlvl,pinksbought,wardsbought,wardsplaced,wardskilled,firstblood
0,19,9,10,1,4,11,NONE,JUNGLE,Warwick,0,...,69,42,27,610,13,0,0,10,0,0
1,267,10,10,2,3,4,DUO_SUPPORT,BOT,Nami,0,...,1,1,0,211,14,1,0,17,3,0
2,119,11,10,3,7,4,DUO_CARRY,BOT,Draven,0,...,3,1,2,182,14,1,0,13,5,0
3,114,12,10,4,12,4,SOLO,TOP,Fiora,0,...,6,6,0,106,15,0,0,3,0,0
4,112,13,10,5,4,3,SOLO,MID,Viktor,0,...,4,3,1,159,15,0,0,10,0,0
5,72,14,10,6,11,4,NONE,JUNGLE,Skarner,1,...,111,81,30,808,16,0,0,8,2,0
6,3,15,10,7,4,12,SOLO,TOP,Galio,1,...,6,0,6,179,16,1,0,7,0,0
7,103,16,10,8,14,4,SOLO,MID,Ahri,1,...,6,3,3,48,17,0,0,8,0,0
8,222,17,10,9,7,4,DUO_CARRY,BOT,Jinx,1,...,7,2,5,440,16,1,0,6,1,1
9,161,18,10,10,14,4,DUO_SUPPORT,BOT,VelKoz,1,...,2,1,1,260,16,5,0,25,7,0
10,115,19,11,1,3,4,DUO_SUPPORT,BOT,Ziggs,0,...,2,2,0,236,12,3,0,14,3,0
11,69,20,11,2,4,7,DUO_CARRY,BOT,Cassiopeia,0,...,10,10,0,980,12,1,0,10,2,0
12,157,21,11,3,14,4,SOLO,MID,Yasuo,0,...,49,25,24,203,13,1,0,7,1,1
13,4,22,11,4,4,12,SOLO,TOP,Twisted Fate,0,...,1,0,1,324,16,0,0,9,1,0
14,28,23,11,5,4,11,NONE,JUNGLE,Evelynn,0,...,70,36,34,564,17,0,0,12,1,0
15,51,24,11,6,7,4,DUO_CARRY,BOT,Caitlyn,1,...,24,15,9,362,15,1,0,6,1,0
16,62,25,11,7,14,4,SOLO,TOP,Wukong,1,...,8,6,2,25,15,1,0,11,2,0
17,134,26,11,8,4,1,SOLO,MID,Syndra,1,...,3,3,0,419,15,2,0,11,1,0
18,43,27,11,9,14,4,DUO_SUPPORT,BOT,Karma,1,...,0,0,0,227,13,3,0,12,3,0
19,19,28,11,10,4,11,NONE,JUNGLE,Warwick,1,...,61,40,21,333,14,0,0,10,1,0
20,119,29,12,1,4,7,DUO_CARRY,BOT,Draven,0,...,3,3,0,79,11,0,0,4,0,0
21,40,30,12,2,3,4,DUO_SUPPORT,BOT,Janna,0,...,0,0,0,132,11,0,0,13,1,0
22,99,31,12,3,4,21,SOLO,MID,Lux,0,...,0,0,0,369,13,0,0,10,0,0
23,32,32,12,4,4,11,NONE,JUNGLE,Amumu,0,...,71,55,16,195,13,1,0,8,1,0
24,67,33,12,5,12,4,SOLO,TOP,Vayne,0,...,0,0,0,29,12,1,0,9,0,1
25,103,34,12,6,14,4,SOLO,MID,Ahri,1,...,1,0,1,115,13,0,0,8,1,0
26,254,35,12,7,11,4,NONE,JUNGLE,Vi,1,...,69,41,28,602,13,0,0,6,0,0
27,51,36,12,8,4,12,SOLO,TOP,Caitlyn,1,...,8,6,2,44,14,0,0,6,1,0
28,267,37,12,9,3,4,DUO_SUPPORT,BOT,Nami,1,...,0,0,0,148,12,2,0,15,1,0
29,29,38,12,10,4,7,DUO_CARRY,BOT,Twitch,1,...,9,9,0,228,12,0,0,6,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1834490,64,1865575,187586,1,4,11,NONE,JUNGLE,Lee Sin,1,...,47,32,15,515,14,0,\N,10,1,1
1834491,122,1865576,187586,2,4,12,SOLO,TOP,Darius,1,...,4,0,4,172,17,0,\N,9,0,0
1834492,201,1865577,187586,3,12,4,DUO_SUPPORT,BOT,Braum,1,...,0,0,0,1251,15,0,\N,8,0,0
1834493,203,1865578,187586,4,7,4,DUO_CARRY,BOT,Kindred,1,...,3,0,3,7,14,0,\N,10,0,0
1834494,245,1865579,187586,5,4,14,SOLO,MID,Ekko,1,...,3,0,3,403,15,0,\N,11,0,0
1834495,40,1865580,187586,6,4,3,DUO_SUPPORT,BOT,Janna,0,...,0,0,0,236,14,1,\N,18,0,0
1834496,75,1865581,187586,7,3,12,SOLO,TOP,Nasus,0,...,1,1,0,1572,15,0,\N,4,0,0
1834497,7,1865582,187586,8,4,7,SOLO,MID,LeBlanc,0,...,0,0,0,33,14,0,\N,6,0,0
1834498,22,1865583,187586,9,7,4,DUO_CARRY,BOT,Ashe,0,...,0,0,0,1552,12,0,\N,9,0,0
1834499,106,1865584,187586,10,11,4,NONE,JUNGLE,Volibear,0,...,46,40,6,786,12,0,\N,0,1,0
1834500,17,1865585,187587,1,14,4,DUO_CARRY,TOP,Teemo,1,...,9,6,3,698,18,1,\N,5,1,0
1834501,53,1865586,187587,2,4,3,DUO_SUPPORT,BOT,Blitzcrank,1,...,1,0,1,296,16,0,\N,36,0,0
1834502,99,1865587,187587,3,4,13,SOLO,MID,Lux,1,...,4,3,1,337,18,0,\N,2,0,1
1834503,133,1865588,187587,4,7,4,DUO_CARRY,BOT,Quinn,1,...,3,0,3,376,18,0,\N,2,2,0
1834504,201,1865589,187587,5,3,4,DUO_SUPPORT,TOP,Braum,1,...,2,0,2,1655,17,2,\N,26,3,0
1834505,222,1865590,187587,6,4,7,DUO_CARRY,BOT,Jinx,0,...,13,12,1,59,18,1,\N,8,3,0
1834506,121,1865591,187587,7,11,4,NONE,JUNGLE,KhaZix,0,...,74,59,15,470,16,1,\N,8,1,0
1834507,157,1865592,187587,8,4,14,SOLO,MID,Yasuo,0,...,49,44,5,344,18,0,\N,7,2,0
1834508,37,1865593,187587,9,3,4,DUO_SUPPORT,BOT,Sona,0,...,0,0,0,55,16,0,\N,30,0,0
1834509,223,1865594,187587,10,12,4,SOLO,TOP,Tahm Kench,0,...,0,0,0,200,16,0,\N,13,0,0
1834510,4,1865595,187588,1,4,12,SOLO,MID,Twisted Fate,1,...,15,10,5,251,18,0,\N,10,1,0
1834511,18,1865596,187588,2,7,4,DUO_CARRY,BOT,Tristana,1,...,13,10,3,251,18,0,\N,12,2,0
1834512,5,1865597,187588,3,4,11,NONE,JUNGLE,Xin Zhao,1,...,93,78,15,1096,18,0,\N,14,6,0
1834513,54,1865598,187588,4,12,4,SOLO,TOP,Malphite,1,...,0,0,0,2153,18,3,\N,11,0,1
1834514,25,1865599,187588,5,3,4,DUO_SUPPORT,BOT,Morgana,1,...,1,0,1,184,18,0,\N,26,4,0
1834515,222,1865600,187588,6,4,7,DUO_CARRY,BOT,Jinx,0,...,27,20,7,127,18,3,\N,13,1,0
1834516,1,1865601,187588,7,14,4,SOLO,MID,Annie,0,...,3,3,0,128,18,0,\N,13,0,0
1834517,53,1865602,187588,8,4,3,DUO_SUPPORT,BOT,Blitzcrank,0,...,0,0,0,304,17,0,\N,5,0,0
1834518,92,1865603,187588,9,4,11,NONE,JUNGLE,Riven,0,...,47,40,7,101,15,0,\N,8,1,0
1834519,2,1865604,187588,10,4,12,SOLO,TOP,Olaf,0,...,5,4,1,654,18,0,\N,12,1,0